body {
  background-color: #121212;
  color: orange;
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

input, button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

button {
  background: orange;
  color: black;
  cursor: pointer;
}

#dashboard {
  margin-top: 20px;
}
